body {
  font-family: Arial, sans-serif;
  background-color: rgb(212, 212, 212);
}

.container {
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px #8d8d8d;
}

.box {
  background-color: rgb(17, 72, 128);
  padding: 10px;
  margin: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
header {
  font-size: 16px;
  color: white;
  letter-spacing: 0.5px;
}
.box_1 {
  background-color: rgb(232, 232, 232);
  padding: 10px;
  margin: 0;
}

.subtitle {
  font-size: 14px;
  letter-spacing: 0.3px;
  font-weight: bold;
}

.content_container {
  background-color: white;
  padding: 10px;
  margin: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.dataLabel {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  padding: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.pagination {
  display: relative;
  font-size: 12px;
  text-align: center;
  padding: 5px;
}

.grid-container {
  display: grid;
  column-gap: 2px;
  background-color: rgb(17, 72, 128);
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.grid-item {
  padding: 10px;
  font-size: 12px;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.grid-container-result {
  display: grid;
  column-gap: 2px;
  background-color: white;
  font-size: 12px;
  padding: 5px;
  border-left: 1px solid #8d8d8d;
  border-right: 1px solid #8d8d8d;
  border-bottom: 1px solid #8d8d8d;
}
